.modalContainer{
    display:none;
    position:absolute;
    top:0;
    left:0;
    z-index:10;
}
input[behave-as="number"]{
    text-align:right;
}
#editBtns{
    display:none;
}
#bitacoraConcEnv{
    width:85%;
    height:100px;
}
.btn-primary{
    color:#fff;
    background:rgba(23,32,107,0.3);
    border:none !important;
}
.btn-primary:hover{
    background:rgba(23,32,107,0.8);
}
.btn-secondary{
    background:rgba(90,98,104,0.6);
    border:none;
}
.ltsBox,.ltsTotBoxCarga{
    font-size:1.3vw;
    display:block;
    font-weight:bold;
    color:#333;
    text-align:left;
}
.subtots{
    padding:0;
    display:inline;
}
.destinos{
    width:100%;
    display:block;
}
#divPapeleta .contentModal{
    text-align:center;
}
#hojaSolicitud{
    width:166mm;
    height:239mm;
    padding: 20mm 15mm;
    border:solid 1px grey;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size:10pt;
    margin:0 auto;
    text-align:left;
    display:block;
}

#hojaSolicitud h3{
    display:block;
    width:100%;
    text-align:center;
    font-size:11pt;
}
#datosCarga{
    width:100%;
    display:block;
    text-align:left;
    border:solid 1px grey;
}
#datosCarga input{
    font-size:8pt;
    border:none;
    text-decoration:none;
    padding:2px;
    background:none;
    border-bottom:solid 1px;
}
#datosCarga .leftCarga{
    width:58%;
    padding:1%;
    float:left;
}

#datosCarga .rightCarga{
    width:38%;
    padding:1%;
    float:right;
}
.rightCarga textarea{
    width:98%;
    height:50px;
    resize: none;
    overflow:auto;
    margin:10px 0 0 0;
    padding:1%;
}
.spacer{
    width:40px;
}
#datosPapeleta{
    width:100%;
    text-align:center;
    margin-top:20px;
}
#datosPapeleta table{
    width:100%;
    margin:0 auto;
    border-collapse: collapse;
    border:solid 1px grey;
}
#datosPapeleta table tr td,#datosPapeleta table tr th {
    border:solid 1px grey;
    padding:5px;
}
.numeric{
    text-align:right;
}

/*HTML generado desde el query en dimeCargasPendientes*/
.tagEtayLts{
    font-weight:bold;
    color: #17206B;
    display:block;
    width:100%;
}
.tagLtsSurtir{
    color: #333 !important;
}
.tagUbic{
    box-sizing: border-box;
    padding-left:2%;
    width:100%;
    display:block;
    color:#787878;
}
.titleBoxCarga,.cardIcon{

    width:100%;
    display:block;
    box-sizing:border-box;
    margin:0 0 10% 0 !important;
    text-align:left;
}
.titleBoxCarga{
    font-size:1.5vw;
}
.cardIcon{
    font-size:2.3vw;
}
.salidaBoxCarga{

    font-size:1vw;
    color:#787878;
    width:100%;
    display:block;
}
.spacerPipe{
    color:#787878;
    font-size:8pt;
}
#pec{
    width:100%;
    margin:0 auto;
    padding:1vh 1vw;
    box-sizing: border-box;
    font-size:1.8vh;
}
.certCtr{
    font-size:3vh;
    cursor:pointer;
    text-align:center;
}
#datosPEC{
    width:100%;
    margin-bottom:2vh;
}
.datosPEC .floated{
    padding:1vh 1vw 0 0;
    display:inline-block;
    box-sizing: border-box;
    width:33%;
}
#folioPECCont{
    color:red;
    font-weight:bold;
    font-size:1.5vh;
}
#datosPapeletaPEC{
    margin: 2vh auto;
    border-collapse: collapse;
    width: 99%;
    box-sizing: border-box;

}
#datosPapeletaPEC th {
    padding: 1vh 1vw;
    background: #0C2E6C;
    color:#fff;
    border:solid 1px #CACACA;
}
#datosPapeletaPEC tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#datosPapeletaPEC td {
    word-break: break-all;
    padding:0.5vh 0.5vw;
    border:solid 1px #CACACA;
}
#PECnumEmbarque,#PECpesoNeto{
    border:none;
    border-bottom:solid 1px #17206B;
    text-align:right;
}
.container100{
    width:100%;
    text-align:left;
    font-weight:bold;
    font-size:13pt;
    box-sizing:border-box;
    padding:5px;
    background:#f2f2f2;
    border:solid 1px grey;
    border-top:0;
}
.container100 div{
    width:40%;
    float:right;
    text-align:right;
}


#datosCertifCalidad{
    border-collapse:collapse;

}
#datosCertifCalidad input{
    width:80px;
    border:none;
    border-bottom:solid 1px #17206B;
    padding:0 5px;
    box-sizing:border-box;
}
#datosCertifCalidad .label{
    padding-left:10px;
}
#btnGPonerEnCamino{
    margin-top:10px;
    text-align:right;
    display:block;
}
#guardaPonerEnCamino{
    text-align:center;
    background:#17206B;
    padding:10px;
    width:100px;
    font-size:0.9vw;
    color:#fff;
}
#btnSaveSolCarga{
    background:#17206B;
    color:#fff;
    padding:5px;
    margin:10px;
    font-size:.9vw;
}
#datosConcEnvio .label{
    padding-left:7px;
}
#datosConcEnvio .labelSmall{
    padding-left:7px;
    width:60px;
    display:inline-block;
}
#datosConcEnvio .cierreVal{
    width:80px;
    border:none;
    border-bottom:solid 1px #17206B;
    padding:0 5px;
    box-sizing:border-box;
    text-align:right;
    font-size:9pt;
    margin-left:5px;
}
#datosConcEnvio .valDesc{
    width:50%;
    border:none;
    border-bottom:solid 1px #17206B;
    padding:0 5px;
    box-sizing:border-box;
    margin-left:5px;
}
#bitacora{
    width:100%;
    min-height:80px;
}
.floated .btnCtr{
    width:100%;
    text-align:left;
    display:block;

}
#concluireEnvio_save{
    background:#17206B;
    color:#fff;
    padding:5px;
    margin:10px;
    font-size:.9vw;
}
#ponerEnCamino_save{
    background:none;
    border:none;
    font-weight:bold;
    color: #0C2E6C;
}
.folioCarga{
    color:red;
    font-weight:bold;
    font-size:1vw;
    margin-bottom:10px;
    text-align:right;
    border-bottom:solid 1px #17206B;
    padding:5px 0;
}
.deletePRBox:hover{
    color:red;
    cursor:pointer;
}
.datosencamino eta{
    font-weight: bold;
    color: #17206B;
    display: block;
    display: inline-block;
    box-sizing: border-box;
}
.datosencamino litros{
    color: #333 !important;
    display:inline-block;
    font-weight:bold;
}
.datosencamino destino{
    box-sizing: border-box;
    padding-left: 2%;
    width: 100%;
    display: block;
    color: #787878;
}
.resumenConcluir{
    width:300px;
    box-sizing: border-box;
    float:left;
    padding:10px;;
}
.resumenConcluir table{
    width:90% !important;
    box-sizing: border-box;
    border-collapse:collapse;
    margin:10px 0;
}
.resumenConcluir table th{
    color: #003364;
    font-weight:bold;
    background:none !important;
    text-align:left;
    font-size:11pt;
}
.tblsubh{
    font-weight: bold;
    color:#004A90;
    text-align:left;
}
.tblsubh-2{
    font-weight: bold;
    color: grey;
    padding-left:10px;
    text-align:left;
    box-sizing:border-box;
}
.cvt,.cvu,.cft,.cfu,.currency2,.currency3,.numeric0,.numeric2{
    text-align:right;
}
#totalF,#totalFUnitario,#totalV,#totalVUnitario,#costototP,#costototuP{
    font-weight:bold;
}